<div class="modal-release-notes" id="releaseNotesModal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Notas de Versão</h2>
      <button class="modal-close" id="btnCloseReleaseNotes"><i class="fas fa-times"
          data-tippy-content="Fechar"></i></button>
    </div>
    <div class="modal-body">
      <div class="release-notes-container">
        <div id="releaseNotesContent" class="release-notes-content"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" id="btnCloseReleaseNotesFooter">Fechar</button>
    </div>
  </div>
</div>